.projects {
    padding-top: 66px;
    padding-bottom: 20px;
    &__calendar {
      fill: #999999;
    }
    &__day {
      color: #999999;
    }
    &__hashtag {
      font-family: "roboto", sans-serif;
      top: 7px;
      right: 7px;
      color: #fff;
    }
    &__heading {
      font-family: "TTFirsNeue", sans-serif;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 8px;
      color: #FFF;
    }
    &__btn {
      align-self: flex-start;
      transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
      color: #fff;
      &:hover {
        background-color: #FF6E30;
      }
      &:focus {
        outline: 3px solid #FF6E30;
        background-color: #BC572B;
      }
      &:active {
        outline: 3px solid #BC572B;
        background-color: #FF6E30;
      }
    }
    &__headline {
      font-family: "roboto", sans-serif;
      color: black;
      font-size: 16px;
      line-height: 22px;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
    &__content {
      display: block;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
    }
    &__title {
      color: black;
      margin-bottom: 12px;
    }
    &__figcaption {
      overflow: hidden;
      padding-top: 14px;
    }
    &__holder {
        display: grid;
        row-gap: 30px;
      }
    &__list-upper,
    &__list-lower {
      display: grid;
    }
    &__list {
      &-upper,
      &-lower {
        gap: 30px
      }
      &-upper {
        grid-template-columns: repeat(6, 1fr);
        .projects__item-common {
          .projects__headline {
            margin-bottom: 10px;
          }
        }
      }
      &-lower {
        .projects__item-common {
          .projects__headline {
            margin-bottom: 14px;
          }
        }
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__figcaption {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    &__item {
      position: relative;
      &-common {
        &-tablet {
          display: none;
        }
      }
      &-huge {
        &-tablet {
          display: none;
        }
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 34px;
        padding-left: 30px;
        min-height: 300px;
        padding-right: 307px;
        &-fuji {
          grid-column: span 3;
        }
        &-oblivion {
          grid-column: span 2;
        }
        &-oblivion {
          background: url(../img/projects/project_pic_big2.webp) center /
            cover no-repeat;
        }
        &-fuji {
          background: url(../img/projects/project_pic_big1.webp) center /
            cover no-repeat;
        }
      }
    &__figure {
      display: flex;
      flex-direction: column;
      height: 100%;
      svg {
        fill: #999999;
      }

    }
    &__img {
      margin-bottom: 16px;
      img {
        max-width: 100%;
      }
    }
    &__date {
      margin-bottom: 1px;
    }
  }
}

  @media (max-width: 1024px) {
    .projects {
      &__list {
        &-upper {
          gap: 30px;
        }
        &-upper {
          grid-template-columns: repeat(
            auto-fit,
            minmax(184px, 1fr) minmax(184px, 1fr) minmax(218px, 2fr)
          );
        }
        &-lower {
          grid-template-columns: repeat(
            auto-fit,
            minmax(218px, 342px) minmax(218px, 1fr) minmax(218px, 342px)
          );
        }
      }
      &__figcaption {
        justify-content: space-between;
      }
      &__img {
        margin-bottom: 18px;
      }
      &__item {
        &-huge {
          &-fuji {
            display: none;
          }
        }
        &-common {
          &-upper {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
          }
          &-lower {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
          }
        }
        &-huge {
          &-upper {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
          }
          &-lower {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
          }
          &-tablet {
            display: flex;
          }
          &-oblivion {
            background: url(../img/projects/project_pic_big1_1024.webp)
              center / cover no-repeat;
          }
          &-fuji {
            background: url(../img/projects/project_pic_big2_1024.webp)
              center / cover no-repeat;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .projects {
      &__li {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      &__holder {
        &-active {
          row-gap: 25px;
          margin-bottom: 47px;
        }
      }
      &__list {
        &-upper,
        &-lower {
          gap: 28px;
        }
        &-upper {
          grid-template-columns: repeat(3, 1fr);
          grid-row: 1;
        }
        &-lower {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      &__item {
        &-common {
          &-upper {
            grid-row: 2;
            grid-column: 1 / 2;
          }
          &-lower {
            grid-row: 2;
            grid-column: 2 / 3;
          }
        }
        &-huge {
          grid-column: 1 / 3;
          padding: 30px 394px 31px 29px;
          &-lower {
            grid-row: 3;
          }
          &-oblivion {
            background: url(../img/projects/project_pic_big2_768.jpg)
              center / cover no-repeat;
          }
          &-fuji {
            background: url(../img/projects/project_pic_big1_768.webp)
              center / cover no-repeat;
          }
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .projects {
      padding-top: 46px;
      padding-bottom: 12px;
      &__swiper {
        &_upper {
          justify-content: space-between;
          margin-bottom: 17px;
        }
      }
      &__holder {
        &-active {
          margin-bottom: 21px;
          row-gap: 26px;
        }
      }
      &__tabs {
        &_mobile {
          display: flex;
        }
        &_desc {
          display: none;
        }
      }
      &__tab {
        padding: 5px 9px;
      }
      &__li {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      &__title {
        margin-bottom: 12px;
        font-size: 18px;
      }
      &__upper {
        margin-bottom: 18px;
      }
      &__list {
        &-upper,
        &-lower {
          grid-template-columns: 1fr;
          column-gap: 0px;
        }
        &-upper {
          row-gap: 24px;
          .projects__item-common {
            .projects__headline {
              margin-bottom: 9px;
            }
          }
        }
        &-lower {
          row-gap: 30px;
          .projects__item-common {
            .projects__headline {
              margin-bottom: 8px;
            }
          }
        }
      }
      &__item {
        &-common {
          .projects__img {
            img {
              max-width: none;
              width: 100%;
            }
          }
          &-lower {
            grid-row: 3;
            grid-column: 1 / 2;
          }
        }
        &-huge {
          justify-content: flex-start;
          padding-right: 30px;
          padding-top: 196px;
          padding-bottom: 28px;
          &-lower {
            grid-row: 4;
          }
          &-oblivion {
            padding-top: 191px;
            background: url(../img/projects/project_pic_big2_320.webp)
              center / cover no-repeat;
            .projects__upper {
              margin-bottom: 20px;
            }
          }
          &-fuji {
            background: url(../img/projects/project_pic_big1_320.webp)
              center / cover no-repeat;
          }

        }
      }
      &__date {
        margin-bottom: 7px;
      }
      &__heading {
        margin-bottom: 9px;
      }
      &__hashtag {
        top: 4px;
        right: 5px;
        padding: 4px 14px;
      }
      &__content {
        font-size: 14px;
        line-height: 18px;
      }
      &__btn {
        font-size: 14px;
        padding: 10px 20px;
      }
    }
    .projects__item-huge-oblivion .projects__upper {
      margin-bottom: 28px;
  }
  }
